.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrase-box {
  display: flex;
}

.font {
  font-family: monospace;
  font-weight: 700;
  font-size: 52px;
}

.green {
  color: rgb(22 205 26);
}

.red {
  color: rgb(248 14 10);
}

.line {
  border-bottom: 4px solid black;
}

span {
  margin-bottom: 5px;
  white-space: pre;
}
